python/mod/sysinfo/__pycache__/systeminfo.cpython-38.pyc
python/mod/PlotGraph/__pycache__/__init__.cpython-38.pyc
python/mod/PlotGraph/__pycache__/plotGraph.cpython-38.pyc
python/mod/gui/__pycache__/myGui.cpython-38.pyc
python/mod/suntimes/__pycache__/__init__.cpython-38.pyc
python/mod/suntimes/__pycache__/suntimes.cpython-38.pyc
python/mod/sysinfo/__init__.pyc
python/mod/sysinfo/__pycache__/__init__.cpython-38.pyc
python/mod/gui/__pycache__/__init__.cpython-38.pyc
*.pyc
