

<a href="/templates"><button>Seite 2</button></a>

<br>
<br>


<h2>Weitere aufrufe </h2>


<a href="http://localhost:5000/dirs"><button>"http://localhost:5000/dirs"</button></a>
webserver Grundverzeichnis an

<br>
<br>

<a href="http://localhost:5000/dirs?dir=/"><button>"http://localhost:5000/dirs?dir=/"</button></a>
zeigt das /Root Directorry an
<br>
<br>

<a href="http://localhost:5000/dirs?dir=/tmp"><button>"http://localhost:5000/dirs?dir=/tmp"</button></a>
zeigt das /Root/tmp Directorry an

<br>
<br>

<a href="/templates"><button>"http://localhost:5000/templats/index2.html"</button></a>

zeigt die 2. Html Seite an
<br>
<br>



<a href="http://openwb02/openWB/web/api.php?get=all"><button>http://openwb02/openWB/web/api.php?get=all</button></a>

zeigt openWB server die 2. Html Seite an
<br>
<br>

<a href="http://openwb02/openWB/web/api.php?get=homekit"><button>http://openwb02/openWB/web/api.php?get=homekit</button></a>

zeigt openWB server die 2. Html Seite an
<br>
<br>

<a href="http://openwb02/openWB/web/index.php"><button>http://openwb02/openWB/web</button></a>

zeigt openWB server die 2. Html Seite an
<br>
<br>

